<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <h2 class="mt-3">Articles</h2>
    <a class="btn btn-success mb-3" href="/admin/articles/new">
        Create new article
    </a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <th class="align-middle"><%= article.id %></th>
                    <th class="align-middle"><%= article.title %></th>
                    <th class="align-middle"><%= article.slug %></th>
                    <th class="align-middle"><%= article.category.title %></th>
                    <th class="text-center">
                        <form class="d-inline-block mt-1 actions-form" method="POST" action="/articles/delete">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger text-light">Delete</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script src="/js/admin/articles/index.js"></script>
<%- include('../../partials/footer.ejs') %>